<!-- navbar -->
<header>
    <div class="navbar-fixed">
        <nav class="blue">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" id="brand-name" class="hide-on-small-and-down">
                       Importing Data in Postgress Database
                    </a>
                </div>
            </div>
        </nav>
    </div> <a href="/" class="hide-on-med-and-up">
        Importing Data in Postgress Database
    </a>

</header>