<form autocomplete="off" action="/" method="post">
    <div class="row center">
        <div class="card col m6 push-m3">
            <h3 class="center header">
                <%= viewTitle %>
            </h3>

            <div class="input-field">
                <input type="text" name="siteName" placeholder="siteName" value="">
                <label for="name"></label>
            </div>
            <div class="input-field">
                <label for="Email"></label>
                <input type="text" name="cellId" placeholder="cellId" value="">
            </div>
            <div class="input-field">

                <input type="text" name="cellname" placeholder="cellname" value="">
                <label for="name"></label>
                <div class="red-text">

                </div>
            </div>
            <div class="input-field">
                <label for="Location"></label>
                <input type="text" name="nearestfacility" placeholder="nearestfacility" value="">
            </div>
            <input class="btn center btn-extend blue " type="submit" value="Send" <a href="/list" class="blue btn push-m1"><br>
            <div>
                <br>
            </div>
        </div>
    </div>
</form>
</div>
