<form autocomplete="off" action="/" method="post">
    <div class="row center">
        <div class="card col m6 push-m3">
            <h3 class="center header">
                <%= viewTitle %>
            </h3>

            <div class="input-field">
                <input type="text" name="phone_number" placeholder="Phone Number" value="">
                <label for="phone_number"></label>
            </div>
          <div class="input-field">

                <input type="text" name="status" placeholder="Status" value="">
                <label for="status"></label>
                <div class="red-text">

                </div>
            </div>
            <div class="input-field">
                <label for="number"></label>
                <input type="number" name="cellid" placeholder="cell Id" value="" required>
            </div>
            <input class="btn center btn-extend blue " type="submit" value="Send" <a href="/" class="blue btn push-m1"><br>
            <div>
                <br>
            </div>
        </div>
    </div>
</form>
</div>
